@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --principal: #89939e;
  --secundario: #dedede;
  --negro: #000;
}

body {
  font-family: "Inknut Antiqua", serif;
}

.Mybtn {
  margin: 0.91em auto;
  text-align: center;
  position: relative;
  border: 1px solid black;
  transition: ease-in-out .25s all;
  border: 0;
  border-radius: 10px;
}

.Mybtn::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px -17px var(--principal);
  box-shadow: inset 0px -17px var(--secundario);
  border-radius: 5px;
  transition: ease-in-out .25s all;
}

.Mybtn:active {
  box-shadow: 0px 0px 0px #a5a5a5, -1px -1px 10px #e2e2e2,
    inset 5px 5px 10px #b5b5b5, inset -5px -5px 5px #ffffff;
}

.Mybtn:active::after {
  box-shadow: inset 0px -4px var(--principal);
}
