@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --principal: #89939e;
  --secundario: #dedede;
  --negro: #000;
}

body {
  font-family: "Inknut Antiqua", serif;
}
