@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --principal: #89939e;
  --secundario: #dedede;
  --negro: #000;
}

body {
  font-family: "Inknut Antiqua", serif;
}

a {
  text-decoration: none;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.botonesHome {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Mybtn {
  padding: 1em;
  height: 4em;
  width: 5em;
  text-align: center;
  position: relative;
  border: 1px solid black;
  transition: ease-in-out 0.5s all;
  border-radius: 10px;
  line-height: 1.2em;
}

.Mybtn::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px -17px var(--principal);
  box-shadow: inset 0px -17px var(--secundario);
  border-radius: 5px;
  transition: ease-in-out 0.25s all;
}

.Mybtn:active {
  box-shadow: 0px 0px 0px #a5a5a5, -1px -1px 10px #e2e2e2,
    inset 5px 5px 10px #b5b5b5, inset -5px -5px 5px #ffffff;
  line-height: 2em;
}

.Mybtn:active::after {
  box-shadow: inset 0px -4px var(--principal);
}

/* body {
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
   background-attachment: fixed; 
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}  */

/* .wave {
  background: rgba(43, 28, 28, 0.277);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 3em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
} */

.rotate {
  animation: rotation 27s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.instrucciones {
  margin: 2em;
  padding: 2em;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0px -17px var(--secundario);
}

.instrucciones h2 {
  text-align: center;
}

/*------ Style 1 ------*/
#style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#style1::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

/*------ Style 2 ------*/
#style2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
}
#style2::-webkit-color-swatch {
  border-radius: 50%;
  border: 7px solid #000000;
}
#style2::-moz-color-swatch {
  border-radius: 50%;
  border: 7px solid #000000;
}